@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  width: calc(100vw - 50px) !important;
}
.pages {
  height: calc(100vh - 50px);
}
.topNav {
  border-bottom: 0.5px solid #333232;
}
.logo_container {
}

.linear-gradient {
  background-image: linear-gradient(to bottom, white, transparent);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}

.canteen::-webkit-scrollbar {
  display: none;
}
